<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> homepage</title>
    <link rel="stylesheet" href="../css/style.css" type="text/css">

</head>
<body >
    <div class="imgcontainers" ><center>
        <img src="../images/infinite.jpg" alt="Avatar" class="avatar"></center>
    <section class="banner d-fex justify-content-center align-items-center">
    <form action="#" method="post"></form>
    <center>
    <h1>INCIDENT MANAGEMENT</h1>
    <button><a href="raiseincident.html">Raise incident</a></button>
    <button><a href="viewincident.html">View incident</a></button>
    </center>
</form>
    </section>
</body>
</html>