<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>		
		<title>Add Employee</title>				
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />	
		</head>	<body>				
			<div class="container">					
				<h3>Add New Employee</h3>			
			<hr/>						
			<form  th:object="employee:${incident}" method="POST">								
				<input type="text" th:field="*{summary}" class="form-control col-4 mb-4" placeholder="Enter summary" />								
				<input type="text" th:field="*{status}" class="form-control col-4 mb-4" placeholder="Enter status" />	
				<input type="text" th:field="*{description}" class="form-control col-4 mb-4" placeholder="Enter description" />								
                <input type="text" th:field="*{created}" class="form-control col-4 mb-4" placeholder="Enter created" />								
				<input type="text" th:field="*{qaOwner}" class="form-control col-4 mb-4" placeholder="Enter qaOwner" />								
				<input type="text" th:field="*{priority}" class="form-control col-4 mb-4" placeholder="Enter priority" />								
				<input type="text" th:field="*{Ownedby}" class="form-control col-4 mb-4" placeholder="Enter Ownedby" />								
				<input type="text" th:field="*{dueDate}" class="form-control col-4 mb-4" placeholder="Enter dueDate" />								
				<button type="submit" class="btn btn-primary col-2">Save</button>				
				<input type="hidden" th:field="*{id}" />							
				</form>			
				<hr/>		
				<a th:href="@{/api/inc}">Back to list</a>		
				</div>			
				</body>
				</html>